In [ ]:
from google.colab import drive
drive.mount('/content/OrangeOpen')

Mounted at /content/OrangeOpen

****Déclaration des bibliothéques****

---

In [ ]:
import pandas as pd

****Importation du fichier****

In [ ]:
df_Import_Reit_ND=pd.read_excel('OrangeOpen/My Drive/Project Orange Open/Imports/ND Reiteration_AC.xlsx' , sheet_name='Réitération '  , skiprows=11 , usecols=[1, 2, 3 , 4 , 5, 6, 7] , names=['Datation', 'CUID', 'NumeroDossier','exploitables', 'Reit1h', 'Reit1J','Reit7J'])
df_Base_Reit_ND=pd.read_csv('OrangeOpen/My Drive/Project Orange Open/BDD/Tab_Open_Reiteration_ND.csv' , delimiter=";" , decimal=",")
#df_Date_Table=pd.read_csv('OrangeOpen/My Drive/Project Orange Open/Parametres/Date_Table.csv' , delimiter=";" , decimal=",", encoding='unicode_escape')

df_Import_Reit_ND["Datation"] = pd.to_datetime(df_Import_Reit_ND["Datation"])
df_Import_Reit_ND['Datation'] = df_Import_Reit_ND['Datation'].dt.strftime('%d/%m/%Y')

#df_Import_Reit_ND = pd.merge(left=df_Import_Reit_ND, right=df_Date_Table, left_on='Datation', right_on='Datation')
#df_Base_Reit_ND=df_Import_Reit_ND

df_Import_Reit_ND_Dates=df_Import_Reit_ND["Datation"].unique()
print(df_Import_Reit_ND_Dates)

df_Base_Reit_ND = df_Base_Reit_ND[~df_Base_Reit_ND['Datation'].isin(df_Import_Reit_ND_Dates)]
df_Base_Reit_ND = pd.concat([df_Base_Reit_ND,df_Import_Reit_ND], keys=["Datation", "Datation"])

df_Base_Reit_ND.to_csv('OrangeOpen/My Drive/Project Orange Open/BDD/Tab_Open_Reiteration_ND.csv' , index=False, sep = ';' , decimal=",")

df_Effectif_Global=pd.read_csv('OrangeOpen/My Drive/Project Orange Open/Parametres/Effectif_Global.csv' , delimiter=";" , decimal=",", encoding='unicode_escape')
df_Base_Reit_ND = pd.merge(left=df_Base_Reit_ND, right=df_Effectif_Global, how='left' , on=['Datation','CUID'])
df_Base_Reit_ND.to_csv('OrangeOpen/My Drive/Project Orange Open/EXPORT/Tab_Open_Reiteration_ND.csv' , index=False, sep = ';' , decimal=",")

df_Base_Reit_ND['Datation']=df_Base_Reit_ND['Datation'].values.astype(str)
df_Base_Reit_ND['Datation'] = df_Base_Reit_ND['Datation'].apply(lambda x: datetime.strptime(x, '%d/%m/%Y'))

#df_Base_Reit_ND['Datation'] = df_Base_Reit_ND['Datation'].astype('datetime64[ns]')
#df_Base_Reit_ND['Datation'] = pd.to_datetime(df_Base_Reit_ND["Datation"].dt.strftime("%c"))

#df_Base_Reit_ND['Date_Format_0']=pd.to_datetime(df_Base_Reit_ND['Date_Format_0'], dayfirst=True, format='%d/%m/%Y').day
df_Base_Reit_ND.head()

['02/10/2023' '03/10/2023' '04/10/2023' '05/10/2023' '06/10/2023'
 '07/10/2023' '09/10/2023' '10/10/2023' '11/10/2023' '12/10/2023'
 '13/10/2023' '14/10/2023' '16/10/2023' '17/10/2023' '18/10/2023'
 '19/10/2023' '20/10/2023' '21/10/2023' '23/10/2023' '24/10/2023'
 '25/10/2023' '26/10/2023' '27/10/2023' '28/10/2023' '30/10/2023'
 '31/10/2023' '02/11/2023' '03/11/2023' '04/11/2023']

<ipython-input-101-875c9093e6b9>:19: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Effectif_Global=pd.read_csv('OrangeOpen/My Drive/Project Orange Open/Parametres/Effectif_Global.csv' , delimiter=";" , decimal=",", encoding='unicode_escape')

,Datation,CUID,NumeroDossier,exploitables,Reit1h,Reit1J,Reit7J,Date_Format_0,Date_Format_1,Jour,...,Log_PRA,CQ,Date_Debut,Motif_Changement,Type_Depart,Date_Fin,Contrat,Date_Entree,CDP,Date_Verif
0,2023-10-02,BDFQ8300,320672253,1,0,0,0,10-02-2023,20231002.0,Lundi,...,MAA017918,NaN,01/10/2023,NaN,NaN,NaN,44.0,26/12/2022,Saad Labkiri,16/02/2051
1,2023-10-02,BDFQ8300,602097844,1,0,0,0,10-02-2023,20231002.0,Lundi,...,MAA017918,NaN,01/10/2023,NaN,NaN,NaN,44.0,26/12/2022,Saad Labkiri,16/02/2051
2,2023-10-02,BDFQ8300,603493560,1,0,0,0,10-02-2023,20231002.0,Lundi,...,MAA017918,NaN,01/10/2023,NaN,NaN,NaN,44.0,26/12/2022,Saad Labkiri,16/02/2051
3,2023-10-02,BDFQ8300,607190273,1,0,0,0,10-02-2023,20231002.0,Lundi,...,MAA017918,NaN,01/10/2023,NaN,NaN,NaN,44.0,26/12/2022,Saad Labkiri,16/02/2051
4,2023-10-02,BDFQ8300,607390399,1,0,0,0,10-02-2023,20231002.0,Lundi,...,MAA017918,NaN,01/10/2023,NaN,NaN,NaN,44.0,26/12/2022,Saad Labkiri,16/02/2051

In [ ]:
from google.colab import auth
auth.authenticate_user()
Id_Project='orangedatabase'
Id_dataset='orangedatabase.Orange_Open'
Id_table='orangedatabase.Orange_Open.Tab_Reiteration_ND'
from google.cloud import bigquery
bq = bigquery.Client(project=Id_Project)
BDD_Orange = bq.dataset(dataset_id=Id_dataset)
job_config = bigquery.LoadJobConfig(autodetect= True)
schema = [
    bigquery.SchemaField("index", "INTEGER", mode="REQUIRED"),
    #bigquery.SchemaField("Lib_Equipe", "STRING", mode="NULLABLE"),
    bigquery.SchemaField("Datation", "DATE", mode="NULLABLE"),
    #bigquery.SchemaField("CUID", "STRING", mode="NULLABLE"),
    #bigquery.SchemaField("Offre", "STRING", mode="NULLABLE"),
    #bigquery.SchemaField("Tendance", "STRING", mode="NULLABLE"),
    #bigquery.SchemaField("TypeActivite", "STRING", mode="NULLABLE"),
    #bigquery.SchemaField("NumeroDossier", "STRING", mode="NULLABLE"),
    #bigquery.SchemaField("Flux", "STRING", mode="NULLABLE"),
    #bigquery.SchemaField("Sous_Flux", "STRING", mode="NULLABLE"),
    #bigquery.SchemaField("exploitables", "float", mode="NULLABLE"),
    #bigquery.SchemaField("Appels1Min", "float", mode="NULLABLE"),
    #bigquery.SchemaField("Reit1h", "float", mode="NULLABLE"),
    #bigquery.SchemaField("Reit1J", "float", mode="NULLABLE"),
    #bigquery.SchemaField("Reit7J", "float", mode="NULLABLE"),
    #bigquery.SchemaField("NbreReiteration", "float", mode="NULLABLE"),
    #bigquery.SchemaField("CUID", "INTEGER", mode="REQUIRED"),FLOATDate
]

table = bigquery.Table(Id_table, schema=schema)
bq.delete_table(Id_table, not_found_ok=True)
table = bq.create_table(table)
df_Base_Reit_ND2=df_Base_Reit_ND["Datation"].astype('datetime64[ns]')

job = bq.load_table_from_dataframe(df_Base_Reit_ND2, Id_table, job_config=job_config)

<ipython-input-27-d96b478f565d>:33: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_Base_Reit_ND2=df_Base_Reit_ND["Datation"].astype('datetime64[ns]')

AttributeError: ignored

In [ ]:
from datetime import datetime
df_Base_Reit_ND2=df_Base_Reit_ND
df_Base_Reit_ND2['Datation']=df_Base_Reit_ND2['Datation'].values.astype(str)
df_Base_Reit_ND2['Datation'] = df_Base_Reit_ND2['Datation'].apply(lambda x: datetime.strptime(x, '%d/%m/%Y'))
#df_Base_Reit_ND2['Datation'] = df_Base_Reit_ND2['Datation'].astype('datetime64[ns]')
df_Base_Reit_ND2['Datation'] = pd.DatetimeIndex(df_Base_Reit_ND2["Datation"]).month
#datetime64[ns]

#df_Base_Reit_ND2.info()
df_Base_Reit_ND2.head()

ValueError: ignored

In [ ]:
from google.colab import auth
auth.authenticate_user()
Id_Project='orangedatabase'
Id_dataset='orangedatabase.Orange_Open'
Id_table='orangedatabase.Orange_Open.Tab_Reiteration_ND'
from google.cloud import bigquery
bq = bigquery.Client(project=Id_Project)
BDD_Orange = bq.dataset(dataset_id=Id_dataset)
job_config = bigquery.LoadJobConfig(autodetect= True)
table = bigquery.Table(Id_table)
bq.delete_table(Id_table, not_found_ok=True)
table = bq.create_table(table)
job = bq.load_table_from_dataframe(df_Base_Reit_ND, Id_table, job_config=job_config)
#src_fichier="OrangeOpen/My Drive/Project Orange Open/EXPORT/Tab_Open_Reiteration_ND.csv"
#uri="gs://OrangeOpen/My Drive/Project Orange Open/EXPORT/Tab_Open_Reiteration_ND.csv"

#load_job = bq.load_table_from_uri(uri, Id_table, job_config=job_config)

#with open(src_fichier,"rb") as src_file:
 #job = bq.load_table_from_file(src_file, Id_table, job_config=job_config)

/usr/local/lib/python3.10/dist-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: Type_Depart.
  warnings.warn(

****Traitement du fichier****

In [ ]:
#f_Base=pd.read_csv('OrangeOpen/My Drive/Project Orange Open/BDD/Tab_Reiteration_ND.csv' , delimiter=";" , decimal=",")
df_Import.drop(df_Import.columns[0], inplace=True, axis=1)
df_Import = df_Import.rename(columns={'Date': 'Datation', 'Nbr de réitérations 1 heure': 'Reit1h' , 'Lib Equipe': 'Lib_Equipe', 'Nbr d\'appels exploitables': 'exploitables', 'Nbr de réitérations 7 jours': 'Reit7J', 'Nbr de réitérations 1 jour': 'Reit1J', 'Nbr d\'appels < 1min': 'Appels1Min'})
df_Import.loc[df_Import['Lib_Equipe'] == 'EQU COMDATA MA DART', 'Flux'] = 'DART'
df_Import.loc[df_Import['Lib_Equipe'] == 'EQU COMDATA MAROC AC N1 OPEN', 'Flux'] = 'Open'
df_Import.loc[(df_Import['Flux'] == 'Open') &  (df_Import['Offre'] == 'ORANGE'), 'Sous_Flux'] = 'Mobile'
df_Import.loc[(df_Import['Flux'] == 'Open') &  (df_Import['Offre'] == 'ORANGE OPEN'), 'Sous_Flux'] = 'ADSL'
df_Import.loc[(df_Import['Flux'] == 'Open') &  (df_Import['Offre'] == 'ORANGE OPEN FIBRE'), 'Sous_Flux'] = 'Fibre'
df_Import.loc[(df_Import['Flux'] == 'Open') &  (df_Import['Offre'] == 'NC'), 'Sous_Flux'] = 'Premium'
df_Import.loc[(df_Import['Flux'] == 'DART') &  (df_Import['Tendance'] == 'FORFAITS'), 'Sous_Flux'] = 'Mobile'
df_Import.loc[(df_Import['Flux'] == 'DART') &  (df_Import['Tendance'] == 'CONVERGENT'), 'Sous_Flux'] = 'Convergent'
df_Import["Datation"] = pd.to_datetime(df_Import["Datation"])
df_Import['Datation'] = df_Import['Datation'].dt.strftime('%d/%m/%Y')

**Definir les types des colonnes**

In [ ]:
df_Import[["Lib_Equipe", "CUID", "Offre", "Tendance", "TypeActivite", "NumeroDossier", "Flux", "Sous_Flux"]] = df_Import[["Lib_Equipe", "CUID", "Offre", "Tendance", "TypeActivite", "NumeroDossier", "Flux", "Sous_Flux"]].astype(str)
df_Import[["exploitables", "Appels1Min", "Reit1h", "Reit1J", "Reit7J", "NbreReiteration"]] = df_Import[["exploitables", "Appels1Min", "Reit1h", "Reit1J", "Reit7J", "NbreReiteration"]].astype(float)
df_Import['Datation']= pd.to_datetime(df_Import['Datation'])

df_Base[["Lib_Equipe", "CUID", "Offre", "Tendance", "TypeActivite", "NumeroDossier", "Flux", "Sous_Flux"]] = df_Base[["Lib_Equipe", "CUID", "Offre", "Tendance", "TypeActivite", "NumeroDossier", "Flux", "Sous_Flux"]].astype(str)
df_Base[["exploitables", "Appels1Min", "Reit1h", "Reit1J", "Reit7J", "NbreReiteration"]] = df_Base[["exploitables", "Appels1Min", "Reit1h", "Reit1J", "Reit7J", "NbreReiteration"]].astype(float)
df_Base['Datation']= pd.to_datetime(df_Base['Datation'])

<ipython-input-6-01755d173fa5>:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_Import['Datation']= pd.to_datetime(df_Import['Datation'])

**Affichage**

In [ ]:
df_Import.head()

,Lib_Equipe,Datation,CUID,Offre,Tendance,TypeActivite,NumeroDossier,exploitables,Appels1Min,Reit1h,Reit1J,Reit7J,NbreReiteration,New coll,Flux,Sous_Flux
0,EQU COMDATA MA DART,2023-05-30,BQFC6648,ORANGE OPEN,CONVERGENT,NC,637372204,1.0,0.0,0.0,0.0,0.0,0.0,4,DART,Convergent
1,EQU COMDATA MAROC AC N1 OPEN,2023-05-30,BFDD5982,NC,CONVERGENT,NC,650277102,1.0,0.0,0.0,0.0,0.0,0.0,4,Open,Premium
2,EQU COMDATA MAROC AC N1 OPEN,2023-05-30,BFDD5982,NC,CONVERGENT,NC,664401013,1.0,0.0,0.0,0.0,0.0,0.0,4,Open,Premium
3,EQU COMDATA MAROC AC N1 OPEN,2023-05-30,BFDD5982,NC,CONVERGENT,NC,786268530,1.0,0.0,0.0,0.0,0.0,0.0,4,Open,Premium
4,EQU COMDATA MAROC AC N1 OPEN,2023-05-30,BFDD5982,ORANGE,FORFAITS,NC,605841029,1.0,0.0,0.0,0.0,0.0,0.0,4,Open,Mobile

In [ ]:
df_Base.head()

,Lib_Equipe,Datation,CUID,Offre,Tendance,TypeActivite,NumeroDossier,exploitables,Appels1Min,Reit1h,Reit1J,Reit7J,NbreReiteration,Flux,Sous_Flux,New coll
0,EQU COMDATA MA DART,2023-05-22,CFCG0247,NC,CONVERGENT,Info_Facture,607038275,1.0,0.0,0.0,0.0,0.0,0.0,DART,Convergent,NaN
1,EQU COMDATA MA DART,2023-05-22,CFCG0247,NC,CONVERGENT,Info_Facture,609723348,1.0,0.0,0.0,0.0,0.0,0.0,DART,Convergent,NaN
2,EQU COMDATA MA DART,2023-05-22,CFCG0247,NC,CONVERGENT,Info_Facture,616726320,1.0,0.0,0.0,0.0,0.0,0.0,DART,Convergent,NaN
3,EQU COMDATA MA DART,2023-05-22,CFCG0247,NC,CONVERGENT,Info_Facture,628632694,1.0,1.0,0.0,0.0,0.0,0.0,DART,Convergent,NaN
4,EQU COMDATA MA DART,2023-05-22,CFCG0247,NC,CONVERGENT,Info_Facture,630594292,1.0,0.0,0.0,0.0,0.0,0.0,DART,Convergent,NaN

**Indentifier est supprimer les dates dans la base de données**

In [ ]:
import numpy as np
from datetime import datetime
array = df_Import['Datation'].to_numpy()
np = np.unique(array)
np = np.astype("datetime64[D]")
#for x in np:
 # print(x)
  #cursor = conn.cursor()
  #cursor.execute("""Delete from Tab_Reiteration_ND where Datation= = ?""" (x,))
  #print(cursor.fetchall())

 # df_Base = df_Base[df_Base['Datation'] != x]

#df_New_Base=pd.concat([df_Base, df_Import])

**Enregistrement de las base**

In [ ]:
#df_Import.to_sql('employees', conn , if_exists='fail' , index=False)
#conn.commit()
cursor = conn.cursor()
sql_creation_table = """ DROP TABLE employees;"""
cursor.execute(sql_creation_table)
conn.commit()
#df = pd.read_sql('SELECT * FROM employees', conn)
#df.head()

DatabaseError: ignored

**Connexion à la base de donnée**

**Indentifier est supprimer les dates dans la base de données**